<!DOCTYPE html>

<html>
  <head>
    <style>
    body {
      background-color: rgb(134, 1, 1);
    }
    
    h1 {
      color: rgb(3, 3, 2);
      text-align: center;
      position: absolute;top:300px;left:600px;
    }

    .btn {
      border: none;
      color: rgb(255, 255, 255);
      padding: 10px 10px;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
    }
    .return {background-color: #000000;} 
    .return:hover {background: #46403f;}

    .finish {background-color: #007e0a;} 
    .finish:hover {background: #7fc06f;}
    </style>
  </head>

<h1>
  <% if $game.turn == 1 %>
    <%= $game.player_2.name %> attacked <%= $game.player_1.name %>
  <% else %>
    <%= $game.player_1.name %> attacked <%= $game.player_2.name %>
  <% end %>

  <br>

  <% if $game.player_1.hit_points >= 0 && $game.player_2.hit_points >= 0 %>
    <form action='/play'>
      <button class="btn return">Return</button>
    </form>
  <% end %>

  <% if $game.player_1.hit_points <= 0 %>
    <%= $game.player_1.name %> LOSES!
    <form action='/'>
      <button class="btn finish">Finish</button>
    </form>
  <% elsif $game.player_2.hit_points <= 0 %>
    <%= $game.player_2.name %> LOSES!
    <form action='/'>
      <button class="btn finish">Finish</button>
    </form>
  <% end %>

</h1>
