<!DOCTYPE html>
<html>
  <head>
    <style>
    body {
      background-color: rgb(1, 68, 37);
    }
    
    h1 {
      color: rgb(192, 47, 47);
      text-align: center;
    }
    
    h2 {
      color: rgb(219, 208, 57);
      text-align: center;
    }

    p1 {
      font-family: verdana;
      font-size: 20px;
      color:coral;
      position:absolute; left:100px;
    }

    p2 {
      font-family: verdana;
      font-size: 20px;
      color:coral;
      position:absolute; left:1200px; top:600px;
    }

    .btn {
      border: none;
      color: rgb(255, 255, 255);
      padding: 10px 10px;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
    }
    .attack {background-color: #000000;} /* Red */ 
    .attack:hover {background: #46403f;}
    </style>
  </head>

  <%# <link rel="stylesheet" src="../style-sheets/style-sheet.css"> %>

  <body>
    <h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
    <% if @game.turn == 1 %>
    <h2><%= @game.player_1.name %>'s turn</h2>
    <% else %>
    <h2><%= @game.player_2.name %>'s turn</h2>
    <% end %>
    
    <p1>
      <%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP
      <% if @game.turn == 1 %>
        <form action='/attack'>
          <button class="btn attack">Attack</button>
        </form>
      <% end %>
    </p1>
    <br>
    <p2>
      <%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP
      <% if @game.turn != 1 %>
        <form action='/attack'>
          <button class="btn attack">Attack</button>
        </form>
      <% end %>
    </p2>

  </body>  
</html>
